* {
  margin: 0;
  padding: 0;
}

.ranking-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 20px 10px 20px 10px;
  background-color: rgb(19, 211, 153);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.479);
  color: rgb(65, 25, 127);
}

.li-ranking {
  align-items: center;
  background-color: rgb(65, 25, 127);
  color: rgb(255, 255, 255);
  display: flex; 
  font-family: epilogue; 
  height: 90px;
  justify-content: space-around;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.479);
  margin-top: 10px
}

.img-gravatar {
  border-radius: 50px;
  display: flex;  
  height: 50px;
  margin-right: 15px;
}

.btn-go-home {
  margin: 5px;
  height: 40px;
  border-radius: 7px;
  width: 120px;
  background-color: blueviolet;
  font-weight: bold;
  color: white;
  border: none;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.493);
  cursor: pointer;
}

.btn-go-home:hover {
  background-color: rgb(85, 28, 139);
  border-radius: 15px;
}

.btn-go-home:active {
  background-color: rgb(116, 36, 192);
  border-radius: 15px;
  box-shadow: 0 0 0  rgba(0, 0, 0, 0.493);
}